# Build and publish docusaurus to github pages

name: Documentation publish

on:
  push:
    tags:
      - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          cd website
          yarn && yarn deploy
        env:
          GIT_USER: $RUNNER_NAME
